body {
  font-family: 'Open Sans', sans-serif;
}

/*FOR TESTING*/
.landing {
  display: none;
}
/*.container {
  display: none;
}*/
/*END TESTING*/

.navigation {
  height: 100px;
  margin-left: 10px;
}

.navigation button {
  height: 55px;
  width: 100px;
  background: linear-gradient(white, white, white, white, #b3daff);
  border: none;
  margin-top: 10px;
  margin-left: 5px;
  float: right;
}


/*LANDING SECTION*/

.landing {
  padding-top: 10%;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px 0 black, 0 -1px black;
  position: relative;
}

.landing-inputs {
  background-color: rgba(211, 236, 255, 0.25);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 2% 0;
}

#sign-in-box, #sign-up-box {
  background-color: rgba(220, 225, 227, 0.5);
  font-size: 1em;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid grey;
  width: 60%;
}

#sign-in-button {
  background-color: steelblue;
}

#sign-up-button {
  background-color: hotpink;
}

#sign-in-box:focus {
  outline: none;
  border: 1px solid steelblue !important;
  box-shadow: 0 0 15px steelblue;
}

#sign-up-box:focus {
  outline: none;
  border: 1px solid hotpink !important;
  box-shadow: 0 0 15px hotpink;
}

#logo-name {
  font-size: 20vw;
}

.tagline {
  font-style: italic;
  font-size: 6vw;
}

/*END LANDING*/

button {
  background-color: #e6faff;
}

/*HEADER*/

.job-search-header {
  background-image: url("../img/header.jpg");
  min-height: 25vh;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  border-bottom: 8px solid grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*FILTER AREA*/

#languages {
  width: 60%;
  height: 60px;
  margin: 0 20% 0 20%;
  font-size: 30px;
}

.button-container {
  text-align: center;
  padding: 8%;
}

.button-container .btn {
  height: 75px;
  width: 75px;
  color: white;
  font-size: 2.5vh;
  border-radius: 0;
}

#filter-button {
  background-color: seagreen;
  border-radius: 100%;
}

#reset-button {
  background-color: darkred;
  border-radius: 100%;
}

.filter-container {

}

/*JOB AREA*/

.panel {
  border-radius: 0;
  margin: 0;
  border: none;
}

.panel p {

}

.back-job-postings {
  margin: 0;
  padding: 0;
  border: none;
}

.panel-heading {
  padding: 15px 0 10px 15px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 10px;
  border-radius: 0;
}

.panel-title {

}

.panel-body {
  left: 10px;
  min-height: 180px;
  opacity: 1.0;
  color: #555;
}

/*FEATURE AREA*/

.full-container {
  margin: 0 auto;
  width: 100%
}

.feature {
  min-height: 100px;
  margin-bottom: 0;
  padding: 3%;
}

.f1 {
  border-right: 2px solid seagreen;
}

.f2 {

}

.feature-image {
  width: 65%;
}

/*END FEATURE*/

.footer {
  padding: 3%;
  border-top: 3px solid #333;
  color: #999;
  text-align: center;
}

.copyright {
  background-color: #222;
  color: #999;
  min-height: 40px;
  padding: 1%;
  text-align: center;
}
