body {
  background-color: #e6faff;
  background: linear-gradient(white, white, white, white, #b3daff);
  min-height: 100vh;
}

.landing {
  padding-top: 5%;
  background-image: url("../img/meteor_landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  text-align: center;
}

#logo-name {
  font-size: 7em;
}

.tagline {
  font-style: italic;
}
