body {
  background-color: #e6faff;
  background: linear-gradient(white, white, white, white, white, white, white, white, #b3daff);
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.container {
  display: none;
}

.navigation {
  height: 100px;
  margin-left: 10px;
}

.navigation button {
  height: 55px;
  width: 100px;
  background: linear-gradient(white, white, white, white, #b3daff);
  border: none;
  margin-top: 10px;
  margin-left: 5px;
  float: right;
}

.landing {
  padding-top: 10%;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px 0 black, 0 -1px black;
  position: relative;
}

.landing-inputs {
  background-color: rgba(211, 236, 255, 0.25);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 2% 0;
}

#sign-in-box, #sign-up-box {
  background-color: rgba(220, 225, 227, 0.5);
  font-size: 1em;
  padding: 8px;
  border: 1px solid grey;
}

.landing-inputs input:focus {
  outline: none;
  border: 1px solid seagreen !important;
  box-shadow: 0 0 10px seagreen;
}

#logo-name {
  font-size: 20vw;
}

.tagline {
  font-style: italic;
  font-size: 6vw;
}

button {
  background-color: #e6faff;
}

.search {
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.job-result {
  padding: 5px;
}

.job-result-inner {
  padding: 4%;
  border: 1px solid black;
  background-color: white;
}

.panel-heading {
  padding-left: 0;
  padding-bottom: 0px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.panel-body {
  position: relative;
  left: 10px;
  height: 200px;
  opacity: 1.0;
  color: black;
}

#dragoon {
  background-image: url("../img/dragoon.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

#boom:hover {
  background-image: url("../img/dragoon.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(2, 2);
  transition: 0.5s;
  opacity: 0;
}

#highlight:hover {
  background: linear-gradient(#b3daff, white, white, white, white);
  background-image: url("../img/dragoon.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

#twisted:hover {
  background-image: url("../img/dragoon.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: skew(45deg, 45deg);
  -moz-transform: skew(45deg, 45deg);
  transform: skew(45deg, 45deg);
  transition: 0.5s;
}
